/* === FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ===== Mobile-First ===== */

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: hsl(30, 54%, 90%);
    color: #4a2e2a;
    font-size: 16px;
}
.container {
    max-width: 480px;
    margin: auto;
    background: #fff;
}

.contenu {
    padding: 10px 35px;
}

.header-image {
    width: 100%;
}

/* Titles */
h1,
h2 {
    font-family: 'Young Serif', serif;
    margin-bottom: 20px;
    font-weight: 400;
}

h1 {
    font-size: 2.3rem;
    margin-top: 20px;
}

h2 {
    margin-top: 25px;
    font-size: 2rem;
    color: hsl(14, 45%, 36%);
}

h3 {
    margin-bottom: 10px;
    color: hsl(332, 51%, 32%);
}

/* Description */
.description {
    color: #6a524c;
    line-height: 1.5;
}

/* Prep box */
.prep-box {
    background: hsl(330, 100%, 98%);
    border-radius: 12px;
    margin-top: 25px;
    padding: 20px 25px;
}

.prep-box ul {
    list-style: none;
    padding-left: 0;
}
.prep-box li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 33px;
}
.prep-box li::before {
    content: "•";
    position: absolute;
    left: 5px;
    font-size: 1.2em;
}

.prep-box ul li {
    color: hsl(30, 10%, 34%);
}

/* Demi ligne */
hr {
    border: none;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    margin: 30px 0;
}


/* Ingredients */
.ingredients ul {
    list-style: none;
    padding-left: 0;
}

.ingredients li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 42px;
}

.ingredients li::before {
    content: "•";
    position: absolute;
    left: 10px;
    font-size: 1.2em;
    color: hsl(14, 45%, 36%);
}

.ingredients ul li {
    color: hsl(30, 10%, 34%);
}

/* Instructions */
.instructions {
    margin: 22px;
}

.instructions li {
    margin-bottom: 12px;
    padding-left: 20px;
    line-height: 1.4;
    color: hsl(30, 10%, 34%);

}

ol.instructions li::marker {
    color: hsl(14, 45%, 36%);
}

/* Nutrition */
.nutrition-text {
    margin: 10px 0;
    color: #6a524c;
}

.nutrition-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.nutrition-item {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-item:last-child {
    border-bottom: none;
}

.nutrition-item span {
    color: hsl(30, 10%, 34%);
    width: 52%;
}

.nutrition-item strong {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

/* ===== RESPONSIVE ===== */

/* Desktop (1440px) */
@media (min-width: 600px) {
    .container {
        max-width: 700px;
        border-radius: 16px;
        margin: 120px auto;
    }
    .header-image {
        border-radius: 36px;
        padding: 30px 30px;
    }

    .attribution {
        padding: 0 16px;
    }
    .attribution p:first-child {
        font-size: 21px;
    }
    .attribution p:last-child {
        font-size: 15px
    }
}